.status-dot {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}
.active {
  background-color: #2ecc71;
}
.idle {
  background-color: #95a5a6;
}
.stop {
  background-color: #e74c3c;
  border-color: #c0392b;
}
